<section  class="bg-white rounded-2xl p-6 flex flex-col gap-4 shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
  <!--  -->
  <app-user-top></app-user-top>

  <h2 class="text-[20px] font-semibold text-[#b0b0b0]">New report</h2>
  <!--  -->
  <app-revenue></app-revenue>
  <!--  -->
  <app-top-sales></app-top-sales>

</section>
<!-- Filters and charts row -->
<section class=" flex p-4 gap-4">
  <!-- Left filters -->
  <app-left-filters></app-left-filters>
  <!-- Middle chart -->
  <app-chart></app-chart>

</section>
<!-- Bottom section -->
<section class="bg-white rounded-2xl p-6 flex flex-col gap-6 shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
  <!-- Platform value and chart -->
  
    <app-plataform></app-plataform>

  <!-- Right side -->
  <div class="flex flex-col gap-4">
    <app-right-side></app-right-side>
  </div>
  
</section>
